form div {
  display: flex;
  align-items: center;
}

form label {
  color: #BDBDBD;
  font-weight: 600;
  font-size: 1.3em;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

form input {
  height: 2em;
}

form p {
  margin-left: 1em;
  color: red;
  font-size: 1.3em;
  font-weight: 600;
}

#folder-submit {
  font-weight: 600;
}

#folder-submit:hover {
  cursor: pointer;
  color: #102541;
}